.btnstyle{
	padding :10px;
	border:1px solid;
	border-color: #fff;
	height:40px;
	width:20%;
}
.textbox{
	width :auto;
	height:40px;
	padding-left: 10px;

}
.formpos{
	margin-bottom: 30px;
	margin-left: 30px;
	/*margin-right:20px;*/
}
.nampos{
	margin-left:30px;
	padding:10px;
}
.backgroundimg{
	background-image: url('/asset/bg/mhs.png');
	background-size: contain;
	background-repeat: no-repeat;
}
.formlayout{
	padding-top: 40vh;
}